.notification{
    border: 1px solid currentColor;
    font-size: var(--font-size-small);
    padding: var(--margin-normal) var(--margin-small);
    border-radius: 2px;
}

.notification_error{
    color: var(--color-error);
    background-color: var(--color-error-bg);
}

.notification_success{
    color: #00a200;
    background-color: #00a20015;
}   