.cart{
    height: inherit;
    width: inherit;

}

.cart__inner{
    height: inherit;
}

.cart__icon{
    height: inherit;
    cursor: pointer;
}

.cart__icon__inner{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-mid);
}
