.rating__inner{
    display: flex;
}

.rating__star:not(:first-child){
    margin-left: 2px;
}

.rating__star__inner > svg {
    height: 24px;
    width: 24px;
}

.rating__message{
    display: flex;
    align-items: center;
    padding-left: 5px;
}