.mobile-menu{
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.678);
    width: 100%;
    height: 100%;
    --heading-big: var(--font-size-large);
    --heading-normal: var(--font-size-mid);
    --padding-normal: 16px 24px;
    --font-color: rgb(51,51,51);
    --icon-color: rgb(153, 153, 153);
    --btn-normal-bg: rgb(243, 243, 243);
    --btn-hover-bg: rgb(228, 228, 228); 
}

.mobile-menu__inner{
    width: 100%;
    max-width: 400px;
    min-height: 100%;
    background-color: white;
}

.mobile-menu__top{
    font-size: var(--font-size-large);
    padding: var(--padding-normal);
    border-bottom: 1px solid rgb(223, 223, 223);
}

.mobile-menu__top__label__inner > .label{
    font-weight: 600;
    display: flex;
    align-items: center;
}

.mobile-menu__top__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__top__close-btn__inner{
    display: flex;
    align-items: center;
}

.mobile-menu__top__close-btn__inner > .btn {
    background-color: var(--btn-normal-bg);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    padding: 3px;
    cursor: pointer;
}

.mobile-menu__top__close-btn__inner > .btn_icon:hover{
    background-color: var(--btn-hover-bg);
}

.mobile-menu__top__close-btn__inner > .btn > svg{
    fill: var(--icon-color);
    height: 100%;
    width: 100%;
}

.mobile-menu__new-arrivals{
    padding: var(--padding-normal);
}

.mobile-menu__new-arrivals__heading{
    font-size: var(--heading-normal);
    font-weight: 500;
}