.button_submit{
    width: 100%;
    font-family: var(--font-family-default);
}

.button_filled{
    background-color: var(--color-primary);
    display: flex;
}
.button_filled:hover{
    background-color: var(--color-primary-mid);
}
.button_filled:active{
    background-color: var(--color-primary-dark);
}
.button_filled > .button__inner{
    width: 100%;
}
.button_filled > .button__inner > button {   height: 57px;
    display: block;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: var(--font-size-mid);
    color: var(--font-color-lighter);
    font-family: inherit;
    font-weight: var(--font-weight-mid);
}

.button_bare{
    background-color: transparent;
    padding: 16px 0;
}
.button_bare > .button__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.button_bare > .button__inner> button{
    border: none;
    color: var(--font-color-light);
    background-color: transparent;
    font-size: var(--font-size-normal);
    font-family: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.button_bordered{
    border-radius: 3px;
    color: var(--font-color-light);
    border: 1px solid currentColor !important;
}
.button_bordered:hover{
    color: var(--font-color-mid);
}
.button_bordered:active{
    border: none;
    background-color: var(--font-color-light);
    color: var(--font-color-lighter);
}
.button_bordered > .button__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}
.button_bordered > .button__inner> button{
    color: currentColor;
    height: 57px;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: var(--font-size-mid);
    font-family: inherit;
    font-weight: var(--font-weight-mid);
    cursor: pointer;
}