.app__category-page__main__filter{
    padding: 0 var(--margin-normal);
    margin-top: var(--margin-big);
}

.app__category-page__main__products{
    padding: 0 var(--margin-normal);
    margin-top: var(--margin-normal);
}

.app__category-page__main__products__inner{
    display: flex;
    flex-direction: column;
}

.app__category-page__main__products__count{
    font-size: var(--font-size-mid);
    font-weight: var(--font-weight-thick);
}

.app__category-page__main__products__results{
    margin-top: var(--margin-big);
}

.app__category-page__main__products__results__inner{
    display: flex;
    flex-direction: column;
}

.app__category-page__main__products__results__content{
    min-height: 500px;
}

@media screen and (min-width: 750px) {
    .app__category-page__main__products__count{
        font-size: var(--font-size-large);
    }
    
    .app__category-page__main__products{
        margin-top: var(--margin-big);
    }
}