.category-card{
    height: 100%;
}

.category-card:hover{
    color: var(--font-color-light);
}

.category-card__image__inner > img {
    height: 60px;
}

.category-card__label{
    margin-top: var(--margin-small);
    text-align: center;
}

@media screen and (min-width: 750px){
    .category-card__image__inner > img {
        height: 110px;
    }
    
    .category-card__label{
        text-align: center;
        font-size: var(--font-size-mid);
    }
}


@media screen and (min-width: 1100px){
    .category-card__image__inner > img {
        height: 140px;
    }  
}