.forgot-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-color-mid);
}

.forgot-password-form__heading{
    text-align: center;
}

.forgot-password-form__step-1__text{
    margin-top: 32px;
    font-size: var(--font-size-mid);
    text-align: center;
}

.forgot-password-form__step-1__email-box{
    margin-top: 16px;
}

.forgot-password-form__step-1__continue-btn{
    margin-top: 16px;
}

.forgot-password-form__step-2__text{
    margin-top: 16px;
    font-size: var(--font-size-normal);
}

.forgot-password-form__step-2__radio-btn{
    margin-top: 32px;
}

.forgot-password-form__step-2__checkbox{
    margin-top: 32px;
}

.forgot-password-form__step-2__send-code-btn{
    margin-top: 16px;
}

.forgot-password-form__step-2__prev-step-btn{
    margin-top: 16px;
}