.product-card{
    width: 100%;
    color: var(--font-color-mid);
}

/* There are two product card sizes, thin and wide */

/* PRODUCT CARD THIN */
.product-card_thin{
    flex: 0 0 250px;
}

.product-card_thin_loaded{
    padding: var(--margin-mid);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.068);
}

.product-card_thin_loaded > div:not(.product-card_thin__image){
    padding: 0 var(--margin-small);
}


.product-card_thin__skeleton{
    width: 240px;
    min-height: 390px;
}

.product-card_thin:not(:first-child){
    margin-left: var(--margin-mid);
}

.product-card_thin__inner{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.product-card_thin__name{
    min-height: 84px;
    margin-top: var(--margin-mid);
    font-size: var(--font-size-normal);
}

.product-card_thin__price{
    margin-top: var(--margin-normal);
    font-weight: var(--font-weight-thickest);
    font-size: var(--font-size-big);
}

.product-card_thin__action{
    margin-top: var(--margin-mid);
    display: flex;
    justify-content: flex-end;
}

.product-card_thin__image{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card_thin__image__inner > img {
    width: 150px;
}

/* PRODUCT CARD WIDE */
.product-card_wide{
    padding: 0 var(--margin-normal);
    max-width: 305px;
}

.product-card_wide__inner{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card_wide__image{
    max-height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.product-card_wide__image__inner > img {
    width: 200px;
    height: 200px;
}

.product-card_wide__name{
    height: 64px;
}

.product-card_wide__name__inner{
    text-align: left;
    font-size: var(--font-size-normal);
}

.product-card_wide__price{
    margin-top: var(--margin-small);
    display: flex;
    justify-content: flex-start;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-mid);
}

.product-card_wide__action{
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}