.input-box{
    height: 47px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--font-color-mid);
}

.input-box_normal{
    border: 1px solid currentColor;
}

.input-box__inner{
    position: relative;
    color: inherit;
} 

.input-box__element__inner > input {
    font-size: var(--font-size-normal);
    padding: 9px 8px;
    border: none;
    color: var(--font-color-mid);
    font-weight: var(--font-weight-normal);
    line-height: 23px;
    font-family: var(--font-family-default);
}


.input-box__label{
    color: inherit;
    position: absolute;
    background-color: white;
}
.input-box__label_normal{
    z-index: -1;
    padding: 9px 8px;
    top: 50%;
    transform: translateY(-50%);
}
.input-box__label_focused{
    z-index: 1;
    left: 2%;
    top: -25%;
    font-size: var(--font-size-small);
}