.cart{
    height: inherit;
    width: inherit;

}

.cart__inner{
    height: inherit;
    position: relative;
}

.cart__icon{
    height: inherit;
    cursor: pointer;
}

.cart__icon__inner{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-mid);
}

.cart__counter{
    position: absolute;
    top: -3px;
    right: -12px;
    font-size: 13px;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}