.app__home-page__main{
    flex: 1;
    padding: var(--margin-normal) var(--margin-small);
}

.app__home-page__main__categories-cards__inner{
}

.app__home-page__main__categories-cards__inner > .category-card-container{
    display: flex;
    align-items: center;
}

.app__home-page__main__categories-cards__inner > .category-card-container > .category-card-container__inner{
    padding: var(--margin-small) 0;
    width: 100%;
    display: grid;
    grid-row-gap: var(--margin-big);
    grid-column-gap: var(--margin-small);
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.app__home-page__main__categories-cards__inner > .category-card-link{
    text-align: center;
    margin-top: var(--margin-big);
}

.app__home-page__main__categories-rows{
    margin-top: var(--margin-big);
    min-height: 800px;
}

.app__home-page__main__categories-rows__inner{
    display: flex;
    flex-direction: column;
}

.app__home-page__main__categories-rows__inner > *:not(:first-child){
    margin-top: var(--margin-big);
}

.app__home-page__main__categories-rows__inner > *:last-child{
    margin-bottom: 100px;
}

@media screen and (min-width: 750px){
    .app__home-page__main{
        padding: var(--margin-normal) var(--margin-mid);
    }

    .app__home-page__heading{
        margin-top: var(--margin-normal);
    }

    .app__home-page__main__categories-cards__inner{
        padding-top: var(--margin-normal);
    }

    .app__home-page__main__categories-cards__inner > .category-card-container > .category-card-container__inner{
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

    .app__home-page__heading__sub-text{
        margin-top: var(--margin-small);
    }    
 
    .app__home-page__main__categories-rows__inner > *:last-child{
        margin-bottom: 150px;
    }
}


@media screen and (min-width: 1100px){
    .app__home-page__heading{
        margin-top: var(--margin-mid);
    }

    .app__home-page__main__categories-cards__inner{
        padding-top: var(--margin-mid);
    }
}