.app__logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__logo__inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__logo__inner > img{
    height: 140%;
    cursor: pointer;
}