.checkout{
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: var(--font-color-mid);
    padding: var(--margin-big) 0;
    overflow-y: scroll;
    --box-shadow: 0 0 15px -5px rgb(198, 198, 198);
}

.checkout__inner{
    display: flex;
    justify-content: center;
}

.checkout__content{
    width: 100%;
    max-width: 500px;
    /* border: 1px solid black; */
}

.checkout__content__inner{
    display: flex;
    flex-direction: column;
    position: relative;
}

.checkout__content__heading__title{
    text-align: center;
}

.checkout__content__heading__total{
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-thick);
    color: var(--font-color-normal);
    margin-top: var(--margin-small);
}

.checkout__content__heading__total__inner{
    display: flex;
    justify-content: center;
}

.checkout__content__items{
    margin-top: var(--margin-big);
    box-shadow: var(--box-shadow);
}

.checkout__content__order-summary{
    margin-top: var(--margin-big);
    box-shadow: var(--box-shadow);
    padding: var(--margin-big) var(--margin-mid);
}

.checkout__content__order-summary__details{
    margin-top: var(--margin-mid);
    font-size: var(--font-size-mid);
    color: var(--font-color-light);
}

.checkout__content__order-summary__details__item__inner{
    display: flex;
    justify-content: space-between;

}

.checkout__content__order-summary__details__item:not(:first-child){
    margin-top: var(--margin-small);
}

.checkout__content__order-summary__details__item__inner > .key{
    font-weight: var(--font-weight-mid);
}

.checkout__content__order-summary__details__item__inner > .value {
    font-weight: var(--font-weight-thickest);
}

.checkout__content__order-summary__total{
    margin-top: var(--margin-mid);
    --border: 1px solid var(--font-color-lighter);
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 12px 0;
}

.checkout__content__order-summary__total__inner{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-thickest)
}

.checkout__content__order-summary__btn{
    margin-top: var(--margin-big);
}

.checkout__close-btn{
    position: absolute;
    right: 0;
    top: 0;
}