.product-grid{

}

.product-grid__inner{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    gap: var(--margin-normal) var(--margin-normal);
}