.app__footer{
    background-color: rgb(51, 51, 51);
    color: var(--font-color-lighter);
    font-size: var(--font-size-small);
    padding: 16px;
    display: flex;
    justify-content: center;
}

.app__footer__inner{
    padding-top: 16px;
}

.app__footer__inner > .links{
    display: inline-block;
    list-style-type: none;
    justify-content: space-between;
}

.app__footer__inner > .links > .links__item {
    display: inline-block;
    margin-right: 30px;
    margin-top: 5px;
}

.app__footer__inner > .links > .links__item > a{
    color: var(--font-color-lighter);
    text-decoration: none;
}
.app__footer__inner > .links > .links__item > a:hover{
    color: var(--font-color-light);
}