.sign-up-form{
    width: 100%;
    color: var(--font-color-mid);
}

.sign-up-form__inner{
    display: flex;
    flex-direction: column;
}

.sign-up-form__heading{
    text-align: center;
    margin-bottom: 20px;
}
.sign-up-form__heading__text{
    display: inline-block;
    width: auto;
}
.sign-up-form__information{
    display: none !important;
}
.sign-up-form__information__inner{
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
    color: var(--font-color-light);
}
.sign-up-form__information__row{
    padding-top: 12px;
    display: flex;
    flex-direction: column;
}
.sign-up-form__information__row > .list {
    padding-left: 20px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
.sign-up-form__information__row > .list > span{
    margin-bottom: 4px;
}

.sign-up-form__checkbox{
    margin-top: 16px;
}

.sign-up-form__captcha{
    margin-top: 16px;
}

.sign-up-form__terms{
    margin-top: 16px;
    color: var(--font-color-light);
    font-size: var(--font-size-small);
    margin-bottom: 16px;
}

.sign-up-form__btn-link:first-child{
    color: inherit;
}

.sign-up-form__sign-up-btn{
    margin-top: 8px;
}

.sign-up-form__offer{
    padding: 32px 0;
    font-size: var(--font-size-small);
    color: var(--font-color-light);
}