.login-form{
    width: 100%;
    color: var(--font-color-mid);
}

.login-form__inner{
    display: flex;
    flex-direction: column;
}

.login-form__heading{
    text-align: center;
    margin-bottom: 20px;
}
.login-form__heading__text{
    display: inline-block;
    width: auto;
}