.sign-in-form{
    width: 100%;
    color: var(--font-color-mid);
}

.sign-in-form__inner{
    display: flex;
    flex-direction: column;
}

.sign-in-form__heading{
    text-align: center;
    margin-bottom: 20px;
}
.sign-in-form__heading__text{
    display: inline-block;
    width: auto;
}

/*.sign-in-form__email-box{

}

.sign-in-form__password-box{

}
*/

.sign-in-form__checkbox{
    margin: 20px 0;
}

.sign-in-form__captcha{
    margin: 8px 0;
}

.sign-in-form__sign-in-btn{
    margin: 16px 0;
}

.sign-in-form__forgot-password-btn{
    margin-bottom: 8px;

}

.sign-in-form__sign-up-btn{
    margin: 16px 0;
}

.sign-in-form__terms{
    margin: 32px 0;
}
.sign-in-form__terms__inner{
    font-size: var(--font-size-small);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font-color-light);
}

.sign-in-form__offer{
    margin-top: 16px;
    font-size: var(--font-size-small);
    color: var(--font-color-light);
    margin-bottom: 32px;
}