.login-form{
    width: 100%;
    color: var(--font-color-mid);
}

.login-form__inner{
    display: flex;
    flex-direction: column;
}

.login-form__heading{
    text-align: center;
    margin-bottom: 20px;
}
.login-form__heading__text{
    display: inline-block;
    width: auto;
}

/*.login-form__email-box{

}

.login-form__password-box{

}
*/

.login-form__checkbox{
    margin: 20px 0;
}

.login-form__sign-in-btn{
    margin: 16px 0;
}

.login-form__forgot-password-btn{
    margin-bottom: 8px;

}

.login-form__sign-up-btn{
    margin: 16px 0;
}