/*
NB: THIS APP USES THE CSS BEM METHODOLOGY, SEE  https://en.bem.info/methodology/css/ OR https://css-tricks.com/bem-101/.

*/

/* Fonts 
IBM plex
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

/* Base Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

:root{
    /* Theme colors */
    --color-primary: #CC0000;
    --color-primary-mid:#AA0000;
    --color-primary-dark: rgb(121, 0, 0);

    /* Colors that represent errors */
    --color-error: #b85300;
    --colo-error-bg: #FFF5EB;

    /* Fonts */
    --font-size-small: 13px;
    --font-size-normal: 16px;
    --font-size-mid: 21px;
    --font-size-big: 22px;
    --font-size-large: 25px;

    /* font-weight */
    --font-weight-tiny: 200;
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-mid: 500;
    --font-weight-thick: 600; 
    --font-weight-thickest: 700;

    /* font-color */
    --font-color-lighter: rgb(255, 255, 255);
    --font-color-light: rgb(95, 95, 95);
    --font-color-normal: rgb(102,102,102);
    --font-color-mid: rgb(51,51,51);

    /* font-family */
    --font-family-default: 'IBM Plex Sans', sans-serif;
}

body{
    font-family: var(--font-family-default);
}

.page{
    flex: 1;
}


/* text styling classes */
.heading-normal{
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-thickest);
}

/* Modifiers */
.--fill-parent{
    /* the element completely fill the parent element */
    height: 100% !important;
    width: 100% !important;
}

.--bg-transparent{
    background-color: transparent;
}

.--display-none{
    display: none;
}

.--link{
    /* styles a non link element to look like a link */
    color: #366cd9;
    text-decoration: underline;
    cursor: pointer;
    line-height: 20px;
}
.--link:hover{
    text-decoration: none;
}

.--bolded{
    font-weight: var(--font-weight-thick);
}