/*
NB: THIS APP USES THE CSS BEM METHODOLOGY, SEE  https://en.bem.info/methodology/css/ OR https://css-tricks.com/bem-101/.

*/

/* Fonts 
IBM plex
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

/* Base Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

:root{
    /* Theme colors */
    --color-primary-light: #eb0000;
    --color-primary: #CC0000;
    --color-primary-mid:#AA0000;
    --color-primary-dark: rgb(121, 0, 0);

    /* Colors that represent errors */
    --color-error: #b85300;
    --colo-error-bg: FFF5EB#;

    /* Fonts */
    --font-size-small: 13px;
    --font-size-normal: 16px;
    --font-size-mid: 21px;
    --font-size-big: 22px;
    --font-size-large: 25px;
    --font-size-extreme: 32px;

    /* font-weight */
    --font-weight-tiny: 200;
    --font-weight-thin: 300;
    --font-weight-normal: 400;
    --font-weight-mid: 500;
    --font-weight-thick: 600; 
    --font-weight-thickest: 700;

    /* font-color */
    --font-color-lighter: rgb(244, 244, 244);;
    --font-color-light: rgb(95, 95, 95);
    --font-color-normal: rgb(102,102,102);
    --font-color-mid: rgb(51,51,51);

    /* font-family */
    --font-family-default: 'IBM Plex Sans', sans-serif;

    /* margin */
    --margin-big: 32px;
    --margin-mid: 24px;
    --margin-normal: 16px;
    --margin-small: 8px;

    /* scroll-bar */
    --scroll-bar-width: thin;
    --scrollbar-width-size: 10px;
    --scrollbar-color-primary: rgb(199, 199, 199);
    --scrollbar-color-secondary: rgb(238, 238, 238);
    --scrollbar-color: var(--scrollbar-color-primary) var(--scrollbar-color-secondary);

    /* skeleton loaders */
    --skeleton-loader-color: rgb(237, 236, 236);
    --skeleton-loader-color-light: rgb(248, 248, 248);
}

/* Works on Firefox */
* {
    scrollbar-width: var(--scroll-bar-width);
    scrollbar-color: var(--scrollbar-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: var(--scrollbar-width-size);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-color-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-primary);
    border-radius: 100px;
    border: 3px solid var(--scrollbar-color-secondary);
}

body{
    font-family: var(--font-family-default);
}


/* text styling classes */
.heading{
    font-weight: var(--font-weight-thickest);
    color: inherit;
}

.heading_normal{
    font-size: var(--font-size-mid);
}

.heading_mid{
    font-size: var(--font-size-big);
}

.heading_big{
    font-size: var(--font-size-large);
}

.heading_extreme{
    font-size: var(--font-size-extreme);
}

.link{
    text-decoration: none;
    font-size: inherit;
    font-weight: var(--font-weight-mid);
    color: var(--font-color-mid);
}

.link:hover{
    text-decoration: underline;
}

.link_underlined{
    text-decoration: underline;
}

.link_underlined:hover{
    text-decoration: none;
}

.link_btn{
    display: inline-block;
    border: 1px solid currentColor;
    padding: var(--font-size-normal);
}

.link_btn:hover{
    text-decoration: none;
    color: var(--font-color-light);
}

/* buttons */
.btn {
    font-size: inherit;
    border: none;
    transition: transform 0.01s linear ;
}

.btn:active{
    transform: scale(0.95);
}

.btn_small{
    font-size: var(--font-size-small);
    padding: var(--margin-small);
}

.btn_filled{
    background-color: var(--color-primary);
    border-radius: 3px;
    display: flex;
    color: var(--font-color-lighter);
    font-weight: var(--font-weight-thickest);
    padding: var(--);
}

.btn_filled:hover{
    background-color: var(--color-primary-light);
}

.skeleton-loader{
    background-color: var(--skeleton-loader-color);
    height: 100%;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
}

.skeleton-loader_blink{
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%{
        background-color: var(--skeleton-loader-color);
    }
    50%{
        background-color: var(--skeleton-loader-color-light) ;
    }

    100%{
        background-color: var(--skeleton-loader-color);
    }
}

.skeleton-loader_image{
    background-color: transparent;
    height: 70vw;
    width: 70vw;
    max-width: 500px;
    max-height: 500px !important;
    padding: 50px;
}

.skeleton-loader_image__inner{
    height: 100%;
    width: 100%;
    background-color: var(--skeleton-loader-color);
}

.skeleton-loader_bordered-image{
    height: 80px;
    width: 80px;
    border: 1px solid var(--skeleton-loader-color);
    background-color: transparent;
    padding: 10px;
}

.skeleton-loader_bordered-image__inner{
    height: 100%;
    width: 100%;
    background-color: var(--skeleton-loader-color);
}

.skeleton-loader_text{
    height: 60px;
    max-width: 97% !important;
}

.skeleton_loader_text-list{

}

.skeleton_loader_text-list__inner{
    display: flex;
    flex-direction: column;
}

.skeleton_loader_text-list__item{
    width: 100%;
    height: 40px;
    background-color: var(--skeleton-loader-color);
    border-radius: 2px;
}

.skeleton_loader_text-list__item:not(:first-child){
    margin-top: 16px;
}

/* Modifiers */
.--fill-parent{
    /* the element completely fill the parent element */
    height: 100% !important;
    width: 100% !important;
}

.--bg-transparent{
    background-color: transparent;
}

.--display-none{
    display: none;
}

.--link{
    /* styles a non link element to look like a link */
    color: #366cd9;
    text-decoration: underline;
    cursor: pointer;
    line-height: 20px;
}
.--link:hover{
    text-decoration: none;
}

.--bolded{
    font-weight: var(--font-weight-thick);
}

.--no-events{
    pointer-events: none;
}

@media screen and (min-width: 750px) {
    
    .skeleton-loader_image{
        background-color: transparent;
        height: 45vw;
        width: 45vw;
        max-width: 500px;
        max-height: 500px !important;
        padding: 50px;
    }

    .skeleton-loader_block{
        width: 30vw;
        max-width: 100%;
    }
    
}