.app{
    color: inherit;
    --max-page-width: 1400px;
}

.app__inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app__page{
    flex: 1; 
    display: flex;  
}

.app__page__inner{
    flex: 1;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__page__header {
    position: fixed;
    width: 100%;
    z-index: 6;
}

.app__page__main{
    /* This is the exact size of the header */
    margin-top: 130px;
    width: 100%;
    max-width: var(--max-page-width);
    flex: 1;
}

.app__home-page__main__categories-cards{
    margin-top: var(--margin-mid);
}

/*
@media screen and (min-width: 750px){
    .app__page__main{
        padding: var(--margin-big) var(--margin-small);
    }
} */