.app{
    color: inherit;
    --max-page-width: 1400px;
}

.app__inner{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.app__page{
    flex: 1; 
    display: flex;  
}

.app__page__inner{
    flex: 1;
    min-height: 150vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__page__header {
    position: fixed;
    width: 100%;
}

.app__page__main{
    /* This is the exact size of the header */
    margin-top: 130px;
    width: 100%;
    max-width: var(--max-page-width);
}